<section id="search" class="search-wrap">
    <h1>Find A Classes</h1>
    <form action="/classes/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Yoga, Pilates, Boxing, etc...">
      <input type="submit" value="Search">
    </form>
  </section>